In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"heart.csv")
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
data['HeartDisease'].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

In [4]:
data.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [5]:
data.shape

(918, 12)

In [6]:
data.isnull().sum().sum()

0

# Duplicate Check

In [7]:
data.duplicated().any()

False

In [8]:
#No duplicate values are present

# Data Preprocessing

In [9]:
catfeature=[]
numfeature=[]

for column in data.columns:
    if data[column].nunique()<=10:
        catfeature.append(column)
    else:
        numfeature.append(column)

In [10]:
catfeature

['Sex',
 'ChestPainType',
 'FastingBS',
 'RestingECG',
 'ExerciseAngina',
 'ST_Slope',
 'HeartDisease']

In [11]:
type('Sex')

str

In [12]:
numfeature

['Age', 'RestingBP', 'Cholesterol', 'MaxHR', 'Oldpeak']

# Encoding of Categorial Features

In [13]:
#Removing 'sex' and 'HeartDisease' feature as it is already binary

In [14]:
catfeature.remove('HeartDisease')

In [15]:
newdata=pd.get_dummies(data,columns=catfeature,drop_first=True)
newdata

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,FastingBS_1,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,172,0.0,0,1,1,0,0,0,1,0,0,0,1
1,49,160,180,156,1.0,1,0,0,1,0,0,1,0,0,1,0
2,37,130,283,98,0.0,0,1,1,0,0,0,0,1,0,0,1
3,48,138,214,108,1.5,1,0,0,0,0,0,1,0,1,1,0
4,54,150,195,122,0.0,0,1,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,132,1.2,1,1,0,0,1,0,1,0,0,1,0
914,68,144,193,141,3.4,1,1,0,0,0,1,1,0,0,1,0
915,57,130,131,115,1.2,1,1,0,0,0,0,1,0,1,1,0
916,57,130,236,174,0.0,1,0,1,0,0,0,0,0,0,1,0
917,38,138,175,173,0.0,0,1,0,1,0,0,1,0,0,0,1

# Feature Scaling

In [16]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
newdata[numfeature]=ss.fit_transform(newdata[numfeature])

In [17]:
newdata.shape

(918, 16)

# Splitting into test and training datasets

In [18]:
X=newdata.drop('HeartDisease',axis=1)
X

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,FastingBS_1,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,-1.433140,0.410909,0.825070,1.382928,-0.832432,1,1,0,0,0,1,0,0,0,1
1,-0.478484,1.491752,-0.171961,0.754157,0.105664,0,0,1,0,0,1,0,0,1,0
2,-1.751359,-0.129513,0.770188,-1.525138,-0.832432,1,1,0,0,0,0,1,0,0,1
3,-0.584556,0.302825,0.139040,-1.132156,0.574711,0,0,0,0,0,1,0,1,1,0
4,0.051881,0.951331,-0.034755,-0.581981,-0.832432,1,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,-0.902775,-1.210356,0.596393,-0.188999,0.293283,1,0,0,1,0,1,0,0,1,0
914,1.536902,0.627078,-0.053049,0.164684,2.357094,1,0,0,0,1,1,0,0,1,0
915,0.370100,-0.129513,-0.620168,-0.857069,0.293283,1,0,0,0,0,1,0,1,1,0
916,0.370100,-0.129513,0.340275,1.461525,-0.832432,0,1,0,0,0,0,0,0,1,0
917,-1.645286,0.302825,-0.217696,1.422226,-0.832432,1,0,1,0,0,1,0,0,0,1

In [19]:
y=newdata['HeartDisease']
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2,random_state=50)

print("Shape of Xtrain=",Xtrain.shape)
print("Shape of ytrain=",ytrain.shape)
print("Shape of Xtest=",Xtest.shape)
print("Shape of ytest=",ytest.shape)

Shape of Xtrain= (734, 15)
Shape of ytrain= (734,)
Shape of Xtest= (184, 15)
Shape of ytest= (184,)

In [21]:
Xtrain

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,FastingBS_1,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
316,0.370100,-1.480567,-1.818435,0.439772,-0.551004,1,0,1,0,1,1,0,0,1,0
82,1.006537,0.951331,0.221363,-0.857069,-0.832432,1,0,0,0,0,1,0,0,1,0
645,0.370100,-0.237597,0.276246,0.518368,-0.457194,1,0,1,0,0,0,0,0,1,0
116,-1.645286,-0.669935,0.761041,1.304332,-0.832432,1,0,0,0,0,1,0,0,1,0
188,-0.372411,-0.669935,1.181806,-1.053560,0.105664,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,-1.857431,-0.669935,-0.300020,1.697314,-0.832432,1,1,0,0,0,1,0,0,0,1
109,-1.539213,3.113018,0.386011,-1.210752,-0.832432,1,1,0,0,0,1,0,0,0,1
907,-1.008848,-0.669935,-0.272579,0.282579,1.794236,1,0,0,0,0,1,0,1,0,0
480,0.476173,-0.345682,-1.818435,-1.053560,1.043759,1,1,0,0,1,1,0,1,1,0
688,2.385485,0.410909,-0.016461,-0.817771,0.199473,0,0,1,0,0,0,1,0,1,0

# Applying Linear ML Algorithms

# 1. Linear Regression

In [22]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(Xtrain,ytrain)

LogisticRegression()

In [23]:
ypred1=lr.predict(Xtest)
ypred1

array([1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [24]:
#Accuracy
from sklearn.metrics import classification_report
print(classification_report(ytest,ypred1))

              precision    recall  f1-score   support

           0       0.89      0.78      0.83        87
           1       0.82      0.92      0.87        97

    accuracy                           0.85       184
   macro avg       0.86      0.85      0.85       184
weighted avg       0.86      0.85      0.85       184

# 2. SVM

In [25]:
from sklearn import svm

In [26]:
svm=svm.SVC()

In [27]:
svm.fit(Xtrain,ytrain)

SVC()

In [28]:
ypred2=svm.predict(Xtest)
ypred2

array([1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [29]:
len(ypred2)

184

In [30]:
#Accuracy
print(classification_report(ytest,ypred2))

              precision    recall  f1-score   support

           0       0.88      0.84      0.86        87
           1       0.86      0.90      0.88        97

    accuracy                           0.87       184
   macro avg       0.87      0.87      0.87       184
weighted avg       0.87      0.87      0.87       184

# 3. K-Nearest Neighbours Classifier

In [31]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [32]:
#lets check for which k-it gives highest accuarcy
score=[]

for k in range(1,20):
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(Xtrain,ytrain)
    ypred=knn.predict(Xtest)
    score.append(accuracy_score(ytest,ypred))

In [33]:
score

[0.7717391304347826,
 0.7880434782608695,
 0.8369565217391305,
 0.8152173913043478,
 0.8586956521739131,
 0.8641304347826086,
 0.8586956521739131,
 0.8586956521739131,
 0.8641304347826086,
 0.8586956521739131,
 0.8586956521739131,
 0.8641304347826086,
 0.8695652173913043,
 0.8695652173913043,
 0.8695652173913043,
 0.8695652173913043,
 0.8641304347826086,
 0.8641304347826086,
 0.8641304347826086]

In [34]:
max(score)

0.8695652173913043

In [35]:
#finding k
for i in range(1,20):
    if score[i]==max(score):
        break

In [36]:
print(i)

12

In [37]:
knn=KNeighborsClassifier(n_neighbors=i)
knn.fit(Xtrain,ytrain)

KNeighborsClassifier(n_neighbors=12)

In [38]:
ypred3=knn.predict(Xtest)
ypred3

array([1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [39]:
print(classification_report(ytest,ypred3))

              precision    recall  f1-score   support

           0       0.86      0.85      0.86        87
           1       0.87      0.88      0.87        97

    accuracy                           0.86       184
   macro avg       0.86      0.86      0.86       184
weighted avg       0.86      0.86      0.86       184

# Non-Linear ML Algorithms

In [40]:
data2=pd.read_csv(r"heart.csv")
data2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

# Data Preprocessing

In [41]:
catfeature2=[]

for column in data2.columns:
    if data2[column].nunique()<=10:
        catfeature2.append(column)

In [42]:
catfeature2

['Sex',
 'ChestPainType',
 'FastingBS',
 'RestingECG',
 'ExerciseAngina',
 'ST_Slope',
 'HeartDisease']

In [43]:
catfeature2.remove('HeartDisease')

In [44]:
catfeature2

['Sex',
 'ChestPainType',
 'FastingBS',
 'RestingECG',
 'ExerciseAngina',
 'ST_Slope']

# Encoding of categorial features

In [45]:
newdata2=pd.get_dummies(data2,columns=catfeature2,drop_first=True)
newdata2

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,FastingBS_1,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,172,0.0,0,1,1,0,0,0,1,0,0,0,1
1,49,160,180,156,1.0,1,0,0,1,0,0,1,0,0,1,0
2,37,130,283,98,0.0,0,1,1,0,0,0,0,1,0,0,1
3,48,138,214,108,1.5,1,0,0,0,0,0,1,0,1,1,0
4,54,150,195,122,0.0,0,1,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,132,1.2,1,1,0,0,1,0,1,0,0,1,0
914,68,144,193,141,3.4,1,1,0,0,0,1,1,0,0,1,0
915,57,130,131,115,1.2,1,1,0,0,0,0,1,0,1,1,0
916,57,130,236,174,0.0,1,0,1,0,0,0,0,0,0,1,0
917,38,138,175,173,0.0,0,1,0,1,0,0,1,0,0,0,1

In [46]:
X2=newdata2.drop('HeartDisease',axis=1)
X2

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,FastingBS_1,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,172,0.0,1,1,0,0,0,1,0,0,0,1
1,49,160,180,156,1.0,0,0,1,0,0,1,0,0,1,0
2,37,130,283,98,0.0,1,1,0,0,0,0,1,0,0,1
3,48,138,214,108,1.5,0,0,0,0,0,1,0,1,1,0
4,54,150,195,122,0.0,1,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,132,1.2,1,0,0,1,0,1,0,0,1,0
914,68,144,193,141,3.4,1,0,0,0,1,1,0,0,1,0
915,57,130,131,115,1.2,1,0,0,0,0,1,0,1,1,0
916,57,130,236,174,0.0,0,1,0,0,0,0,0,0,1,0
917,38,138,175,173,0.0,1,0,1,0,0,1,0,0,0,1

In [47]:
y2=newdata2['HeartDisease']
y2

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

# Splitting

In [48]:
Xtrain2,Xtest2,ytrain2,ytest2=train_test_split(X2,y2,test_size=0.2,random_state=40)

print("Shape of Xtrain2=",Xtrain2.shape)
print("Shape of ytrain2=",ytrain2.shape)
print("Shape of Xtest2=",Xtest2.shape)
print("Shape of ytest2=",ytest2.shape)

Shape of Xtrain2= (734, 15)
Shape of ytrain2= (734,)
Shape of Xtest2= (184, 15)
Shape of ytest2= (184,)

# 1.Decision Tree Classifier

In [49]:
from sklearn.tree import DecisionTreeClassifier
dc=DecisionTreeClassifier()

In [50]:
dc.fit(Xtrain2,ytrain2)

DecisionTreeClassifier()

In [51]:
ypred4=dc.predict(Xtest2)
ypred4

array([1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0], dtype=int64)

In [52]:
#accuracy
print(classification_report(ytest2,ypred4))

              precision    recall  f1-score   support

           0       0.64      0.76      0.70        75
           1       0.81      0.71      0.75       109

    accuracy                           0.73       184
   macro avg       0.73      0.73      0.73       184
weighted avg       0.74      0.73      0.73       184

# 2. Random Forest Classifier

In [53]:
from sklearn.ensemble import RandomForestClassifier

In [54]:
rf=RandomForestClassifier()

In [55]:
rf.fit(Xtrain2,ytrain2)

RandomForestClassifier()

In [56]:
ypred5=rf.predict(Xtest2)
ypred5

array([1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0], dtype=int64)

In [57]:
print(classification_report(ytest2,ypred5))

              precision    recall  f1-score   support

           0       0.84      0.83      0.83        75
           1       0.88      0.89      0.89       109

    accuracy                           0.86       184
   macro avg       0.86      0.86      0.86       184
weighted avg       0.86      0.86      0.86       184

# 3. Gradient Boost Classiifier

In [58]:
from sklearn.ensemble import GradientBoostingClassifier

In [59]:
gbc=GradientBoostingClassifier()

In [60]:
gbc.fit(Xtrain2,ytrain2)

GradientBoostingClassifier()

In [61]:
ypred6=gbc.predict(Xtest2)
ypred6

array([1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0], dtype=int64)

In [62]:
print(classification_report(ytest2,ypred6))

              precision    recall  f1-score   support

           0       0.85      0.80      0.82        75
           1       0.87      0.90      0.88       109

    accuracy                           0.86       184
   macro avg       0.86      0.85      0.85       184
weighted avg       0.86      0.86      0.86       184

# 4. XGBoost Classifier

In [63]:
from xgboost import XGBClassifier

In [64]:
xgb=XGBClassifier()
xgb.fit(Xtrain2,ytrain2)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [65]:
ypred7=xgb.predict(Xtest2)
ypred7

array([1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0])

In [66]:
print(classification_report(ytest2,ypred7))

              precision    recall  f1-score   support

           0       0.78      0.81      0.80        75
           1       0.87      0.84      0.86       109

    accuracy                           0.83       184
   macro avg       0.82      0.83      0.83       184
weighted avg       0.83      0.83      0.83       184

# ALL REPORTS

In [67]:
#Logistic Regression
print(classification_report(ytest,ypred1))

              precision    recall  f1-score   support

           0       0.89      0.78      0.83        87
           1       0.82      0.92      0.87        97

    accuracy                           0.85       184
   macro avg       0.86      0.85      0.85       184
weighted avg       0.86      0.85      0.85       184

In [68]:
#SVM
print(classification_report(ytest,ypred2))

              precision    recall  f1-score   support

           0       0.88      0.84      0.86        87
           1       0.86      0.90      0.88        97

    accuracy                           0.87       184
   macro avg       0.87      0.87      0.87       184
weighted avg       0.87      0.87      0.87       184

In [69]:
#KNN
print(classification_report(ytest,ypred3))

              precision    recall  f1-score   support

           0       0.86      0.85      0.86        87
           1       0.87      0.88      0.87        97

    accuracy                           0.86       184
   macro avg       0.86      0.86      0.86       184
weighted avg       0.86      0.86      0.86       184

In [70]:
#Decision Tree
print(classification_report(ytest2,ypred4))

              precision    recall  f1-score   support

           0       0.64      0.76      0.70        75
           1       0.81      0.71      0.75       109

    accuracy                           0.73       184
   macro avg       0.73      0.73      0.73       184
weighted avg       0.74      0.73      0.73       184

In [71]:
#Random Forest
print(classification_report(ytest2,ypred5))

              precision    recall  f1-score   support

           0       0.84      0.83      0.83        75
           1       0.88      0.89      0.89       109

    accuracy                           0.86       184
   macro avg       0.86      0.86      0.86       184
weighted avg       0.86      0.86      0.86       184

In [72]:
#GradientBoost
print(classification_report(ytest2,ypred6))

              precision    recall  f1-score   support

           0       0.85      0.80      0.82        75
           1       0.87      0.90      0.88       109

    accuracy                           0.86       184
   macro avg       0.86      0.85      0.85       184
weighted avg       0.86      0.86      0.86       184

In [73]:
#XGBoost
print(classification_report(ytest2,ypred7))

              precision    recall  f1-score   support

           0       0.78      0.81      0.80        75
           1       0.87      0.84      0.86       109

    accuracy                           0.83       184
   macro avg       0.82      0.83      0.83       184
weighted avg       0.83      0.83      0.83       184

# Saving the model

------------Finally GradientBoost Classifier best classifies.----------

In [74]:
#-------CLASSIIFICATION  REPORT------
print(classification_report(ytest2,ypred6))

              precision    recall  f1-score   support

           0       0.85      0.80      0.82        75
           1       0.87      0.90      0.88       109

    accuracy                           0.86       184
   macro avg       0.86      0.85      0.85       184
weighted avg       0.86      0.86      0.86       184

In [75]:
import joblib

In [76]:
joblib.dump(gbc,'heartcancerproject')

['heartcancerproject']

In [77]:
model=joblib.load('heartcancerproject')

In [78]:
#model.predict("******new data********")